body {
  background-color: #2D2D2D;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
nav {
  width: auto;
  height: 100px;
  background-color: #151414;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
nav h2 {
  color: #f3cf73;
  font-family: Baskerville;
  font-size: 20px;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul li{
  list-style: none;
  padding: 0px 40px;
}
nav ul li a{
  color:#f3cf73;
  font-size: 35px;
  text-decoration: none;
}

nav ul li a{
  color:#f3cf73;
  font-size: 35px;
  text-decoration: none;
}
.divimage1 {
 height: 40px;
 width: 40px;
}
.divimage2 {
  height: 40px;
  width: auto;
  margin-left: 1325px;
  margin-top: -40px;
 }
 .divimage3 { 
  height: 40px;
  width: 40px;
  margin-top: 410px;
 }
 .divimage4 {
  height: 40px;
  width: auto;
  margin-left: 1325px;
  margin-top: -38px;
 }
.textcontainer1 {
  color: #f3cf73;
  font-size: xx-large;
  width: fit-content;
  height: 70px;
  left: 470px;
  top: 135px;
  position: absolute;
}

.textcontainer2 {
  color: #f3cf73;
  font-size: 30px;
  width: fit-content;
  height: 30px;
  left: 515px;
  top: 168px;
  position: absolute;
}
.textcontainer3 {
  color: #f3cf73;
  font-size: 30px;
  width: fit-content;
  height: 250px;
  left: 470px;
  top: 200px;
  position: absolute;
  margin-right: 50px;
}
footer {
  width: auto;
  height: 40px;
  color: #f3cf73;
  background-color: #151414;
  text-align: center;
  padding: 10px 20px;
  position: sticky;
  top: 100%;
}

